@model ProductsAssignment.Models.products
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<table class="table table-bordered table-hover">


    <tr>
        <td>Product Id</td>
        <td>@Model.prodId</td>


    </tr>
    <tr>
        <td>Product Name</td>
        <td>@Model.prodName</td>


    </tr>
    <tr>
        <td>Product Rate</td>
        <td>@Model.ProductRate</td>


    </tr>

</table>

